<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.3.0" targetFramework="net48" />
  <package id="Enums.NET" version="4.0.1" targetFramework="net48" />
  <package id="ExtendedNumerics.BigDecimal" version="2023.1000.0.230" targetFramework="net48" />
  <package id="iTextSharp.LGPLv2.Core" version="3.4.18" targetFramework="net48" />
  <package id="Majorsilence.Reporting.DataProviders" version="4.17.0" targetFramework="net48" />
  <package id="Majorsilence.Reporting.RdlAsp" version="4.17.0" targetFramework="net48" />
  <package id="Majorsilence.Reporting.RdlEngine" version="4.17.0" targetFramework="net48" />
  <package id="MathNet.Numerics.Signed" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.0" targetFramework="net48" />
  <package id="NPOI" version="2.7.0" targetFramework="net48" />
  <package id="SharpZipLib" version="1.4.2" targetFramework="net48" />
  <package id="SixLabors.Fonts" version="1.0.1" targetFramework="net48" />
  <package id="SixLabors.ImageSharp" version="2.1.7" targetFramework="net48" />
  <package id="SkiaSharp" version="2.88.6" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.6" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.6" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Drawing.Common" version="8.0.4" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Pkcs" version="6.0.3" targetFramework="net48" />
  <package id="System.Security.Cryptography.Xml" version="6.0.1" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net48" />
</packages>