
/RdlEngine/RdlEngine.suo
/RdlEngine/bin/Debug/RdlEngine.dll
/RdlEngine/bin/Debug/RdlEngine.pdb
/RdlEngine/obj/Debug/RdlEngine.csproj.FileListAbsolute.txt
/RdlEngine/obj/Debug/RdlEngine.dll
/RdlEngine/obj/Debug/RdlEngine.pdb
/RdlDesign/RdlDesign.suo
/RdlDesign/bin/Debug/RdlDesigner.exe
/RdlDesign/bin/Debug/RdlDesigner.pdb
/RdlDesign/bin/Debug/RdlDesigner.vshost.exe
/RdlDesign/bin/Debug/RdlDesigner.vshost.exe.manifest
/RdlDesign/bin/Debug/RdlEngine.dll
/RdlDesign/bin/Debug/RdlEngine.pdb
/RdlDesign/bin/Debug/RdlViewer.dll
/RdlDesign/bin/Debug/RdlViewer.pdb
/RdlDesign/obj/Debug/RdlDesigner.exe
/RdlDesign/obj/Debug/RdlDesigner.pdb
/RdlDesign/obj/Debug/ReportDesigner.csproj.FileListAbsolute.txt
/RdlDesign/obj/Debug/ReportDesigner.csproj.GenerateResource.Cache
/RdlDesign/obj/Debug/ResolveAssemblyReference.cache
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.BackgroundCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.BodyCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.ChartAxisCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.ChartCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.ChartLegendCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.CodeCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.ColorPickerPopup.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.CustomReportItemCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DataSetRowsCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DataSetsCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DesignCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DesignEditLines.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DesignRuler.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DesignXmlDraw.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DialogAbout.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DialogDataSourceRef.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DialogDataSources.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DialogDatabase.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DialogEmbeddedImages.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DialogExprEditor.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DialogFilterOperator.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DialogListOfStrings.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DialogNew.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DialogNewChart.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DialogNewMatrix.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DialogNewTable.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DialogToolOptions.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DialogValidValues.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DialogValidateRdl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DrillParametersDialog.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.FiltersCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.FindTab.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.FontCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.GridCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.GroupingCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.ImageCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.InteractivityCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.ListCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.MDIChild.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.MatrixCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.ModulesClassesCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.PositionCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.Properties.Resources.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.PropertyCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.PropertyDialog.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.QueryParametersCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.RdlDesigner.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.RdlEditPreview.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.ReportCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.ReportParameterCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.ReportXmlCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.SQLCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.SimpleButton.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.SimpleToggle.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.SingleCtlDialog.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.SortingCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.StaticSeriesCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.StyleBorderCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.StyleCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.StyleTextCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.SubreportCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.TableColumnCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.TableCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.TableRowCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.VisibilityCtl.resources
/RdlDesign/RdlDesign.suo
/RdlDesign/bin/Debug/RdlDesigner.exe
/RdlDesign/bin/Debug/RdlDesigner.pdb
/RdlDesign/bin/Debug/RdlDesigner.vshost.exe
/RdlDesign/bin/Debug/RdlDesigner.vshost.exe.manifest
/RdlDesign/bin/Debug/RdlEngine.dll
/RdlDesign/bin/Debug/RdlEngine.pdb
/RdlDesign/bin/Debug/RdlViewer.dll
/RdlDesign/bin/Debug/RdlViewer.pdb
/RdlDesign/obj/Debug/RdlDesigner.exe
/RdlDesign/obj/Debug/RdlDesigner.pdb
/RdlDesign/obj/Debug/ReportDesigner.csproj.FileListAbsolute.txt
/RdlDesign/obj/Debug/ReportDesigner.csproj.GenerateResource.Cache
/RdlDesign/obj/Debug/ResolveAssemblyReference.cache
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.BackgroundCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.BodyCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.ChartAxisCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.ChartCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.ChartLegendCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.CodeCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.ColorPickerPopup.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.CustomReportItemCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DataSetRowsCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DataSetsCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DesignCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DesignEditLines.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DesignRuler.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DesignXmlDraw.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DialogAbout.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DialogDataSourceRef.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DialogDataSources.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DialogDatabase.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DialogEmbeddedImages.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DialogExprEditor.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DialogFilterOperator.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DialogListOfStrings.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DialogNew.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DialogNewChart.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DialogNewMatrix.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DialogNewTable.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DialogToolOptions.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DialogValidValues.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DialogValidateRdl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.DrillParametersDialog.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.FiltersCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.FindTab.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.FontCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.GridCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.GroupingCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.ImageCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.InteractivityCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.ListCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.MDIChild.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.MatrixCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.ModulesClassesCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.PositionCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.Properties.Resources.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.PropertyCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.PropertyDialog.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.QueryParametersCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.RdlDesigner.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.RdlEditPreview.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.ReportCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.ReportParameterCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.ReportXmlCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.SQLCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.SimpleButton.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.SimpleToggle.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.SingleCtlDialog.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.SortingCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.StaticSeriesCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.StyleBorderCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.StyleCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.StyleTextCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.SubreportCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.TableColumnCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.TableCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.TableRowCtl.resources
/RdlDesign/obj/Debug/fyiReporting.RdlDesign.VisibilityCtl.resources
/RdlViewer/RdlReader/bin/Debug/RdlEngine.dll
/RdlViewer/RdlReader/bin/Debug/RdlEngine.pdb
/RdlViewer/RdlReader/bin/Debug/RdlReader.exe
/RdlViewer/RdlReader/bin/Debug/RdlReader.pdb
/RdlViewer/RdlReader/bin/Debug/RdlViewer.dll
/RdlViewer/RdlReader/bin/Debug/RdlViewer.pdb
/RdlViewer/RdlReader/obj/Debug/RdlReader.csproj.FileListAbsolute.txt
/RdlViewer/RdlReader/obj/Debug/RdlReader.csproj.GenerateResource.Cache
/RdlViewer/RdlReader/obj/Debug/RdlReader.exe
/RdlViewer/RdlReader/obj/Debug/RdlReader.pdb
/RdlViewer/RdlReader/obj/Debug/ResolveAssemblyReference.cache
/RdlViewer/RdlReader/obj/Debug/fyiReporting.RdlReader.DialogAbout.resources
/RdlViewer/RdlReader/obj/Debug/fyiReporting.RdlReader.MDIChild.resources
/RdlViewer/RdlReader/obj/Debug/fyiReporting.RdlReader.RdlReader.resources
/RdlViewer/RdlReader/obj/Debug/fyiReporting.RdlReader.ZoomTo.resources
/RdlViewer/RdlViewer.suo
/RdlViewer/bin/Debug/RdlEngine.dll
/RdlViewer/bin/Debug/RdlEngine.pdb
/RdlViewer/bin/Debug/RdlViewer.dll
/RdlViewer/bin/Debug/RdlViewer.pdb
/RdlViewer/obj/Debug/RdlViewer.csproj.FileListAbsolute.txt
/RdlViewer/obj/Debug/RdlViewer.csproj.GenerateResource.Cache
/RdlViewer/obj/Debug/RdlViewer.dll
/RdlViewer/obj/Debug/RdlViewer.pdb
/RdlViewer/obj/Debug/ResolveAssemblyReference.cache
/RdlViewer/obj/Debug/fyiReporting.RdlViewer.DataSourcePassword.resources
/RdlViewer/obj/Debug/fyiReporting.RdlViewer.DialogMessages.resources
/RdlViewer/obj/Debug/fyiReporting.RdlViewer.PageDrawing.resources
/RdlViewer/obj/Debug/fyiReporting.RdlViewer.RdlViewer.resources
/RdlViewer/obj/Debug/fyiReporting.RdlViewer.RdlViewerFind.resources
/RdlDesign/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll