@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Role Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:Panel ID="Panel1" runat="server">

    <h1>User List&nbsp; </h1> 
        <asp:ListBox ID="ListBoxUserList" runat="server" Height="193px" Width="551px">
        </asp:ListBox>
        &nbsp;&nbsp;<asp:Label ID="LabelError" runat="server" ForeColor="Red"></asp:Label>
        <br />
        Roles:
        <asp:DropDownList ID="DropDownListRoles" runat="server" 
            Height="16px" Width="136px">
        </asp:DropDownList>
        &nbsp;
        <asp:Button ID="ButtonChangeUserRole" runat="server" 
            onclick="ButtonChangeUserRole_Click" 
            Text="Change Selected Users to Selected Role" />
        <br />
        <br />
    </asp:Panel>

</asp:Content>

