---
layout: base
title: Posts Listing
navgroup: posts
---

<h1>Pages</h1>

<ul>
    {% for page in site.pages %}{% if page.exclude != true %}<url>
    <li>
        <a href="{{site.canonical_domain}}{{site.baseurl}}{{ page.url }}">
        {% if page.title == empty %}
            {{site.canonical_domain}}{{site.baseurl}}{{ page.url }}
        {% else %}
            {{page.title}} - {{site.canonical_domain}}{{site.baseurl}}{{ page.url }}
        {% endif %}
        </a>
    </li>
    {% endif %}{% endfor %}
</ul>
    
<h1>Posts</h1>
<ul>
    {% for item in site.posts %}{% if item.exclude != true %}
        <li>
            <a href="{{site.canonical_domain}}{{site.baseurl}}{{ item.url }}">
            {% if item.title == empty %}
                {{site.canonical_domain}}{{site.baseurl}}{{ item.url }}
            {% else %}
                {{item.title}}
            {% endif %}
            </a> 
        </li>
    {% endif %}{% endfor %}
</ul>
