<footer id="footer">
    <p class="copyright">&copy; Majorsilence devs 2025. All rights reserved.

    <ul class="icons">
        <li>
            <a href="https://x.com/intent/post?url={{site.url}}{{page.url}}" target="_new">
                <img src="/assets/images/logos/x.svg" alt="x (formerly twitter)" title="share on x" loading="lazy"
                    style="max-height: 1em;" />
            </a>
        </li>
        <li>
            <a href="https://facebook.com/sharer.php?u={{site.url}}{{page.url}}" target="_new">
                <img src="/assets/images/logos/facebook.svg" alt="facebook" title="share on facebook" loading="lazy"
                    style="max-height: 1em;" />
            </a>
        </li>
        <li>
            <a href="https://bsky.app/intent/compose?text={{site.url}}{{page.url}}" target="_new">
                <img src="/assets/images/logos/bluesky.svg" alt="bluesky" title="share on bluesky" loading="lazy"
                    style="max-height: 1em;" />
            </a>
        </li>
    </ul>
</footer>