<header id="header">


    <nav>
        <a href="{{site.baseurl}}/">
            <i aria-hidden="true"></i> Home
        </a>
        |
        <a href="{{site.baseurl}}/posts">
            <i aria-hidden="true"></i> Posts
        </a>
        |
        <a href="{{site.baseurl}}/docs/Database/index.html" class="opener">
            <i aria-hidden="true"></i> Reporting</a>
    </nav>

    {% include search.html %}

    <a href="#" class="logo">
        <strong>{{ page.title }}</strong>

        {% if page.date And page.date != "" And page.date != nil %}
        <br />
        Created <time datetime="date" itemprop="datePublished">{{ page.date }}</time>
        {% endif %}
        {% if page.last_modified And page.last_modified != "" And page.last_modified != nil %}
        <br />
        Last modified <time datetime="date" itemprop="datePublished">{{ page.last_modified }}</time>
        {% endif %}
    </a>
</header>