<configuration>
    <appSettings>
        <add key="ServerData" value="Data Source=|DataDirectory|serverdata.sqlite3;Version=3;Pooling=True;Max Pool Size=100;" />

    </appSettings>
    <system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>

        <authentication mode="Forms">
            <forms name=".WEBFYIWEB" loginUrl="Login.aspx" protection="All" requireSSL="false" slidingExpiration="true" timeout="15" />
        </authentication>
    </system.web>
</configuration>
