name: .NET

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  windows-build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - name: Build Release
        run: ./build-release.ps1
      - name: Test
        run: dotnet test -c Release MajorsilenceReporting.sln --verbosity normal --collect:"XPlat Code Coverage" --logger:"trx"
      - name: Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure() # run this step even if previous step failed
        with:
          name: unit tests
          path: "**/TestResults/*.trx"
          reporter: dotnet-trx
      - name: SBOM
        uses: CycloneDX/gh-dotnet-generate-sbom@v1
        with:
          path: ./MajorsilenceReporting.sln
      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: nuget-packages
          path: |
            Release-Builds/build-output/*.*
            sbom.xml
          retention-days: 1
  linux-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - name: Restore dependencies
        run: dotnet restore MajorsilenceReporting.sln
      - name: Build
        run: dotnet build -c Release-DrawingCompat MajorsilenceReporting-Linux-GtkViewer.sln
  mac-build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - name: Restore dependencies
        run: dotnet restore MajorsilenceReporting-Linux-GtkViewer.sln
      - name: Build
        run: dotnet build -c Release-DrawingCompat MajorsilenceReporting.sln
